<a href="https://colab.research.google.com/github/Sainayak/political-party-prediction/blob/main/sainayak_pillarisetty_political_party_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier

In [ ]:
# Load Data

In [3]:


tax_data  = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/tax_payers/train_set_label.csv" )
tax_data.head()

   Unnamed: 0     HHI    HHDL  ...  Filed in 2016  Filed in 2015  PoliticalParty
0          61  183414  -12402  ...              0              1        Democrat
1         501  129786  700251  ...              0              0      Republican
2         658  268343  493411  ...              0              1     Independent
3         703  290506 -433408  ...              0              1      Republican
4         702   90108  907135  ...              1              0        Democrat

[5 rows x 11 columns]

# Data Analysis

In [4]:
tax_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 803 entries, 0 to 802
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      803 non-null    int64
 1   HHI             803 non-null    int64
 2   HHDL            803 non-null    int64
 3   Married         803 non-null    int64
 4   CollegGrads     803 non-null    int64
 5   AHHAge          803 non-null    int64
 6   Cars            803 non-null    int64
 7   Filed in 2017   803 non-null    int64
 8   Filed in 2016   803 non-null    int64
 9   Filed in 2015   803 non-null    int64
 10  PoliticalParty  803 non-null    object
dtypes: int64(10), object(1)
memory usage: 69.1+ KB

In [5]:
tax_data.PoliticalParty.value_counts()

Democrat       269
Independent    269
Republican     265
Name: PoliticalParty, dtype: int64

# Splitting data into independent and dependent variables

In [6]:
y = tax_data["PoliticalParty"]
x = tax_data.drop(["PoliticalParty"],axis=1)
x = x.drop(["Unnamed: 0"],axis=1)
x.head()

      HHI    HHDL  Married  ...  Filed in 2017  Filed in 2016  Filed in 2015
0  183414  -12402        1  ...              0              0              1
1  129786  700251        2  ...              0              0              0
2  268343  493411        2  ...              1              0              1
3  290506 -433408        1  ...              1              0              1
4   90108  907135        1  ...              1              1              0

[5 rows x 9 columns]

In [ ]:
label_encoder = LabelEncoder().fit(y)
y = label_encoder.transform(y)

# Splitting data to training and Test

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Build Machine Learning Model

In [8]:

 model = XGBClassifier(num_class=3,objective='multi:softmax')
model.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, num_class=3, objective='multi:softprob',
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
              seed=None, silent=None, subsample=1, verbosity=1)

# Evaluate Model

In [9]:
y_train_pred = model.predict(x_train)
from sklearn.metrics import accuracy_score,f1_score
#train
print(accuracy_score(y_train,y_train_pred)*100)
print(f1_score(y_train,y_train_pred,average = "micro")*100)
y_test_pred = model.predict(x_test)
print(accuracy_score(y_test,y_test_pred)*100)
print(f1_score(y_test,y_test_pred,average= "micro")*100)

75.0778816199377
75.0778816199377
36.024844720496894
36.024844720496894

# Load Test Data

In [10]:
test_data = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/tax_payers/test_set_label.csv')
test_data.head()

   Unnamed: 0     HHI    HHDL  ...  Filed in 2017  Filed in 2016  Filed in 2015
0          17  253274 -633752  ...              0              1              1
1         590   47107  322850  ...              1              1              0
2         224  111874  300583  ...              0              1              1
3         960   96670  107419  ...              0              0              0
4          57  128669  341273  ...              1              1              1

[5 rows x 10 columns]

In [11]:
test_data = test_data.drop(["Unnamed: 0"],axis=1)

In [ ]:
y_pred = model.predict(test_data)
y_pred = label_encoder.inverse_transform(y_pred)
result_df = pd.DataFrame()
result_df['prediction'] = y_pred

result_df.reset_index(drop=True, inplace=True)
result_df.to_csv('sample_submission.csv', index = False)